.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .profile-picture {
    width: 150px; 
    height: 150px; 
    border: 0.5ch solid #080606; 
    border-radius: 100%;
    overflow: hidden; 
    transition: transform 0.3s ease;
  }
  
  
  .profile-picture img {
    width: 100%; 
    height: auto;
  }
  
  .profile-picture:hover {
    transform: rotate(360deg);
  }
  