body {
    font-family: Arial, sans-serif;
  }
  
  .game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .cookie-container {
    text-align: center;
    margin-right: 50px;
  }
  
  #arvis {
    width: 200px;
    cursor: pointer;
    border-radius: 50%; /* Make it a circle */
    animation: spin 20s linear infinite; /* Apply spinning animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .info-container {
    text-align: center;
  }
  
  .upgrades-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .upgrade {
    text-align: center;
    margin: 0 15px;
    cursor: pointer;
  }
  
  .upgrade img {
    width: 100px;
  }
  
