footer {
    background-color: #282c34;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw; 
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000;
  }
  
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content p {
    margin: 0;
    font-size: 14px;
    opacity: 0.7;
  }
  
  .social-icons {
    margin-top: 10px;
    display: flex;
    gap: 15px;
  }
  
  .social-icons a {
    color: #ffffff;
    font-size: 24px;
    transition: transform 0.3s, color 0.3s;
  }
  
  .social-icons a:hover {
    color: #61dafb;
    transform: scale(1.2);
  }
  
  .social-icons a:active {
    transform: scale(1);
  }
  
  @media (max-width: 600px) {
    .footer-content p {
      font-size: 12px;
    }
  
    .social-icons a {
      font-size: 20px;
    }
  }
  